<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sicredi.sicreditestapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.sicredi.sicreditestapp.MyApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.sicredi.sicreditestapp.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sicredi.sicreditestapp.ui.eventdetail.EventDetailActivity"
            android:label="@string/activity_event_detail_title"
            android:theme="@style/DefaultToolbar" />
        <activity android:name="com.sicredi.sicreditestapp.ui.eventlist.EventListActivity"></activity>
    </application>

</manifest>